.horizontal-section{
    overflow-x: auto;
    overflow-y: hidden;
}

.category-menu{
    padding: 100px;
    background-color: azure;
    font-size: large;
}
.denim-container{
    display: flex;
    gap: 16px;
    height: 40em;
}

.card-container{
    display: flex;
    gap: 20px;
    width:max-content
}

.denim-card{
    border-radius: 20px;
    height: 5em;
}

.denim-card p{
    max-width: 20em;
}

.denim-card img{
    border-radius: 20px;
    width: 21em;
    height: 20em;
}

